<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Note Taking App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="/js/script.js"></script>
</head>
<body>
    <h1 class="welcome_greeting">Welcome <%= user_session.firstName %>!</h1>
    <h3>Post Your Note Here</h3>
    <form id="note_form" action="/notes" method="post">
        <label for="title">Title: </label>
        <input type="text" name="title">

        <label for="content">Content: </label>
        <input type="text" name="content">

        <input type="submit" value="Add Note">
    </form>
    
    <h2>All Notes</h2>
    <% if(notes.length === 0){ %>
        <p>No results.</p>
    <% } %>
    
    <% if(notes.length > 0){ %>
    <div id="note_data">
        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Content</th>
                    <th id="th_actions">Actions</th>
                </tr>
            </thead>
            <tbody>
                <% for(const note of notes){ %>
                    <tr>
                        <td><%= note.id %></td>
                        <td class="note_title" data-id="<%= note.id %>"><%= note.title %></td>
                        <td class="note_content" data-id="<%= note.id %>"><%= note.content %></td>
                        <td id="actions_<%= note.id %>"><% if(user_session.email === note.created_by){ %>
                            <form class="delete_form" action="/notes/delete/<%= note.id %>" method="post">
                                <input type="hidden" name="id" value="<%= note.id %>">
                                <input type="submit" value="Delete">
                            </form>
                            <button id="edit_note_<%= note.id %>" class="edit_note" data-id="<%= note.id %>">Edit</button>
                            <%  } %>
                        </td>
                    </tr>
                <% } %>
            </tbody>
        </table>
    </div>
    <% } %>

    <a class="logout" href="/">Logout</a>
</body>
</html>